{% set hasCover = (page.usergroup.cover is defined) and (page.usergroup.cover is not empty) %}
<div class="page page__full" style="--color: {{ page.usergroup.name|color }}">
	<div class="main--header {{ hasCover ? 'main--header__cover' : 'main--header__no-cover' }}">
		{% if hasCover %}
			<div class="main--header--image">
				<img src="{{ page.usergroup.cover.path | imagine_filter('cover') }}" alt="">
			</div>
		{% endif %}

		<div class="main--header--content content-container">
			{% include 'components/app-flashes.html.twig' %}

			<div class="page-title">
				<div class="page-group">
					<a href="{{ path('group_index', {'groupSlug': page.usergroup.slug}) }}" class="small-title">{{ page.usergroup.name }}</a>
				</div>
				<h1 class="h1 page-title">{{ page.title }}</h1>
			</div>
		</div>
	</div>

	<div class="main--content content-container">
		<div class="page-infos">
			<div class="page-author">
				{{ page.author.name }}
			</div>
			<div class="page-date">
				{{ page.createdAt|localizeddate('short', 'none', app.request.locale) }}
			</div>
			{% if is_granted(constant('App\\Security\\GroupPageVoter::EDIT'), page) %}
				<div class="page-edit">
					<a class="cta__inverted" href="{{ path('group_page_edit', {'groupSlug': page.usergroup.slug, 'pageSlug':page.slug}) }}"><span>{{ 'pages.page.page_edit.link'|trans }}</span></a>
				</div>
			{% endif %}
		</div>
		<div class="page-body">
			{{ page.body|raw }}
		</div>
		<div class="page-group">
			{% include 'contents/group/partials/group-join-button.html.twig' with {'group':page.usergroup} %}

			<ul>
				{% for page in page.usergroup.pages %}
					<li>
						{% include 'contents/page/page--teaser.html.twig' with {'page':page} %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
