<div class="page page__full" style="--color: {{ page.usergroup.name|color }}">
	<div class="page-header">
		<div class="page-illustration">

		</div>
		<div class="content-container">
			<div class="page-group"><a href="{{ path('group_index', {'groupSlug': page.usergroup.slug}) }}">{{ page.usergroup.name }}</a></div>
			<h1 class="h1 page-title">{{ page.title }}</h1>
		</div>
	</div>
	<div class="page-content content-container">
		<div class="page-infos">
			<div class="page-author">
				{{ page.author.name }}
			</div>
			<div class="page-date">
				{{ page.createdAt|localizeddate('short', 'none', app.request.locale) }}
			</div>
		</div>
		<div class="page-body">
			{{ page.body|raw }}
		</div>
		<div class="page-group">
			{{ render(controller( 'App\\Controller\\GroupMembersController::groupMemberJoinButton', {'groupSlug':page.usergroup.slug} )) }}
			<ul>
				{% for page in page.usergroup.pages %}
					<li>
						{% include 'contents/page/page--teaser.html.twig' with {'page':page} %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
