<div class="page page__full" style="--color: {{ page.usergroup.name|color }}">
	<div class="page--header main--header">
		<div class="main--header--image"></div>
		<div class="content-container">
			{% include 'components/app-flashes.html.twig' %}

			<div class="page-group">
				<a href="{{ path('group_index', {'groupSlug': page.usergroup.slug}) }}" class="small-title">{{ page.usergroup.name }}</a>
			</div>
			<h1 class="h1 page-title">{{ page.title }}</h1>

			{% if is_granted(constant('App\\Security\\GroupPageVoter::EDIT'), page) %}
				<a class="admin admin__edit" href="{{ path('group_page_edit', {'groupSlug': page.usergroup.slug, 'pageSlug':page.slug}) }}"><span>{{ 'pages.page.page_edit.link'|trans }}</span></a>
			{% endif %}
		</div>
	</div>
	<div class="page-content content-container">
		<div class="page-infos">
			<div class="page-author">
				{{ page.author.name }}
			</div>
			<div class="page-date">
				{{ page.createdAt|localizeddate('short', 'none', app.request.locale) }}
			</div>
		</div>
		<div class="page-body">
			{{ page.body|raw }}
		</div>
		<div class="page-group">
			{% include 'components/group/group-join-button.html.twig' with {'group':page.usergroup} %}

			<ul>
				{% for page in page.usergroup.pages %}
					<li>
						{% include 'contents/page/page--teaser.html.twig' with {'page':page} %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
