{% set classes = ['page', 'page__full'] %}
<div class="{{ classes|join(' ') }}" style="--color: {{ page.usergroup.name|color }}">
	{% set hasCover = ((page.cover is defined) and (page.cover is not empty))
		or ((page.usergroup.cover is defined) and (page.usergroup.cover is not empty)) %}

	<div class="main--header {{ hasCover ? 'main--header__cover' : 'main--header__no-cover' }}">
		{% if hasCover %}
			<div class="main--header--image">
				{% if (page.cover is defined) and (page.cover is not empty) %}
					<img src="{{ page.cover.path | imagine_filter('cover') }}" alt="">
				{% elseif (page.usergroup.cover is defined) and (page.usergroup.cover is not empty) %}
					<img src="{{ page.usergroup.cover.path | imagine_filter('cover') }}" alt="">
				{% endif %}
			</div>
		{% endif %}

		<div class="main--header--content content-container">
			{% include 'components/app-flashes.html.twig' %}

			<div class="page-title">
				<div class="page-group">
					<a href="{{ path('group_index', {'groupSlug': page.usergroup.slug}) }}" class="small-title">{{ page.usergroup.name }}</a>
				</div>
				<h1 class="h1">{{ page.title }}</h1>
			</div>

			{% include 'components/breadcrumb.html.twig' with {'items':[
				{
					label: 'pages.group.groups.title'|trans,
					href: path('groups_index')
				},
				{
					label: group.name,
					href: path('group_index', {'groupSlug':page.usergroup.slug})
				},
				{
					label: 'pages.group.pages.title'|trans,
					href: path('group_pages_index', {'groupSlug':page.usergroup.slug})
				},
				{
					label: page.title,
				}
			]} %}
		</div>
	</div>

	<div class="main--content content-container">
		<div class="page-infos">
			<div class="page-author">
				{% include 'contents/user/user--teaser.html.twig' with {'user':page.author} %}
			</div>
			<div class="page-date">
				{% if page.editedAt is not empty %}
					{{ 'pages.page.view.date_edited'|trans|format(page.editedAt|localizeddate('short', 'none', app.request.locale)) }}
				{% else %}
					{{ 'pages.page.view.date'|trans|format(page.createdAt|localizeddate('short', 'none', app.request.locale)) }}
				{% endif %}
			</div>
			{% if is_granted(constant('App\\Security\\GroupPageVoter::EDIT'), page) %}
				<div class="panel--edit">
					<a class="cta__inverted" href="{{ path('group_page_edit', {'groupSlug': page.usergroup.slug, 'pageSlug':page.slug}) }}"><span>{{ 'pages.page.page_edit.link'|trans }}</span></a>
				</div>
			{% endif %}
		</div>
		<div class="page-body">
			{{ page.body|raw }}
		</div>
		<div class="page-group">
			{% if (page.usergroup.logo is defined) and (page.usergroup.logo is not empty) %}
				<div class="group-logo">
					<img src="{{ page.usergroup.logo.path | imagine_filter('logo') }}" alt="">
				</div>
			{% endif %}

			<div class="group-infos">
				<div class="group-name">
					{{ page.usergroup.name }}
				</div>

				<div class="group-members">
					{% set count = page.usergroup.members|length %}
					{% transchoice count with {'%count%': count} %}pages.page.view.members{% endtranschoice %}
				</div>

				{% include 'contents/group/partials/group-join-button.html.twig' with {'group':page.usergroup} %}
			</div>
		</div>
		<div class="group-pages">
			<div class="group-pages--title">{{ 'pages.page.view.pages_index'|trans }}</div>
			<ul class="index-list">
				{% for page in page.usergroup.pages %}
					<li>
						{% include 'contents/page/page--in-index-list.html.twig' with {'page':page} %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
