{% set classes = ['discussion', 'discussion__in-items-list'] %}
{% set lastMessage = (discussion.messages|reverse).0 %}
<a class="{{ classes|join(' ') }}" href="{{ path('group_discussion_index', {'groupSlug': discussion.usergroup.slug, 'discussionUuid': discussion.uuid}) }}">
	<div class="discussion--title">{{ discussion.title }}</div>
	<div class="discussion--body">
		<span class="user--name">{{ lastMessage.author.name }}.</span>
		<span class="message--date">{{ lastMessage.createdAt|ago|capitalize }}</span>
	</div>
</a>
