{% set isDisabled = constant('App\\Entity\\User::STATUS_ACTIVE') != message.author.status %}
{% set classes = ['message', 'message__full', message.masked ? 'message__masked', 'message_visible'] %}
{% if (not message.masked) or (is_granted(constant('App\\Security\\GroupDiscussionVoter::EDIT'), message.discussion)) %}
	<div class="{{ classes|join(' ') }}">
		<div class="message--header">
			<a class="message--author--avatar{{ isDisabled ? ' disabled' }}" href="{{ path('member', {'user_id':message.author.id}) }}">
				{% include 'contents/user/partials/user--avatar.html.twig' with{'user':message.author} %}
			</a>

			<div class="message--author">
				<div class="user--name">
					<a href="{{ path('member', {'user_id':message.author.id}) }}"{{ isDisabled ? "class=disabled" }}>{{ message.author.name }}</a>
				</div>
				<div class="message--date">{{ message.createdAt|ago|capitalize }}</div>
			</div>

			{% if is_granted(constant('App\\Security\\GroupDiscussionVoter::EDIT'), message.discussion) %}
				<div class="in-list-admin-panel">
					<button class="toggle-button" type="button" data-toggle-element="sibling" title="{{ 'ui.settings'|trans|escape('html_attr') }}">
						<span>{{ 'ui.settings'|trans }}</span>
					</button>
					<ul aria-hidden="true">
						{% if not message.masked %}
							<li>
								<a class="hide_message"
									href="{{ path('group_message_hide', {
										'groupSlug':message.discussion.usergroup.slug,
										'messageId':message.id,
									}) }}" title="{{ 'pages.discussion.actions.hide_message'|trans|escape('html_attr') }}">
									<span>{{ 'pages.discussion.actions.hide_message'|trans }}</span>
								</a>
							</li>
						{% endif %}
						{% if message.masked %}
							<li>
								<a class="show_message"
									href="{{ path('group_message_show', {
										'groupSlug':message.discussion.usergroup.slug,
										'messageId':message.id,
									}) }}" title="{{ 'pages.discussion.actions.show_message'|trans|escape('html_attr') }}">
									<span>{{ 'pages.discussion.actions.show_message'|trans }}</span>
								</a>
							</li>
						{% endif %}
						{% if is_granted(constant('App\\Security\\GroupDiscussionVoter::DELETE'), message.discussion) %}
							<li>
								<a class="delete_message"
									href="{{ path('group_message_delete', {
										'groupSlug':message.discussion.usergroup.slug,
										'messageId':message.id,
									}) }}" title="{{ 'pages.discussion.actions.delete_message'|trans|escape('html_attr') }}">
									<span>{{ 'pages.discussion.actions.delete_message'|trans }}</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			{% endif %}
		</div>
		<div class="message--body">
			{{ message.body|raw }}
		</div>
		{% if message.files is not empty %}
			<div class="message--attachments">
				<h4>{{ 'pages.discussion.attachments'|trans }}</h4>
				<ul class="documents-list">
					{% for file in message.files %}
						<li class="document__teaser">
							<a class="document-infos" data-type="{{ file.type }}"
								href="{{ path('file_get', {'fileId': file.id}) }}"
								target="_blank">
								<div class="document--icon">
									<span>{{ file.name }}</span>
								</div>

								<div class="document--title">
									<span>{{ file.name }}</span>
								</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>
{% endif %}
