{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.article.list.title'|trans }} - {{ group.name }} | {{ platform.name }}{% endblock %}

{% block main %}
	<section class="main main__articles-index">
		<div class="main--content content-container">
			{% include 'components/app-flashes.html.twig' %}

			<div class="panel">
				<h1 class="h1">{{ 'pages.article.list.title'|trans }}</h1>

				{% if is_granted(constant('App\\Security\\GroupArticleVoter::CREATE'), group) %}
					<div class="panel--edit">
						<a class="cta__inverted" href="{{ path('group_article_new', {'groupSlug':group.slug}) }}">{{ 'pages.article.article_create.link'|trans }}</a>
					</div>
				{% endif %}
			</div>

			{% include 'components/breadcrumb.html.twig' with {'items':[
				{
					label: 'pages.group.groups.title'|trans,
					href: path('groups_index')
				},
				{
					label: group.name,
					href: path('group_index', {'groupSlug':group.slug})
				},
				{
					label: 'pages.group.articles.title'|trans,
				}
			]} %}

			<section class="articles-list narrow">
				<ul>
					{% for article in group.articles %}
						<li>
							{% include 'contents/article/article--teaser.html.twig' with {'article':article} %}
						</li>
					{% endfor %}
				</ul>
			</section>
		</div>
	</section>
{% endblock %}
