<form method="post" action="{{ path('user_register') }}">
	<div class="form-rows">
		<div class="form-row form-row__field">
			<label for="register-form-email">{{ 'forms.email.label'|trans }}</label>
			<input id="register-form-email" type="email" name="email" placeholder="{{ 'forms.email.placeholder'|trans }}" required autofocus>
		</div>
		<div class="form-row form-row__field">
			<label for="register-form-password">{{ 'forms.password.label'|trans }}</label>
			<input id="register-form-password" type="password" name="password" placeholder="{{ 'forms.password.placeholder'|trans }}" required>
		</div>
	</div>
	<div class="form-row form-row__submit">
		<input type="hidden" name="action" value="register">
		<button type="submit">{{ 'security.register.button'|trans }}</button>
	</div>
</form>
