{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.group.groups.title'|trans }} | {{ platform.name }}{% endblock %}

{% block main %}
	<section class="main main__groups-index">
		<div class="main--header main--header__cover">
			<div class="main--header--image">
				<img src="{{ asset('media/layout/groups-hero.png') }}" alt="">
			</div>
			<div class="main--header--content content-container">
				{% include 'components/app-flashes.html.twig' %}

				<div class="narrow">
					<h1 class="small-title">{{ 'pages.group.groups.title'|trans }}</h1>

					<p class="h1">{{ 'pages.group.groups.subtitle'|trans }}</p>

					<p>
						<a class="cta" href="{{ path('homepage') }}">{{ 'ui.see_more'|trans }}</a>
						{% if is_granted(constant('App\\Security\\GroupVoter::CREATE')) %}
							<a class="cta" href="{{ path('group_new') }}">{{ 'pages.group.group_create.link'|trans }}</a>
						{% endif %}
					</p>
				</div>
			</div>
		</div>
		<div class="content-container">
			<div class="group-search-bar">
				{{ form_widget(form.groups_search_bar, {'attr': {'placeholder': 'Rechercher'}}) }}
			</div>
		</div>
		<div class="content-container">
			{% set displayableGroupsToActivate = user_group_relation.getGroupsUserCanAdmin(app.user, groupsToActivate) %}
			{% if groupsToActivate is defined and displayableGroupsToActivate is not empty %}
				<section class="groups-list">
					<p class="small-title">{{ user_group_relation.isCommunityAdmin(app.user) ? 'pages.group.groups.list.pending.admins'|trans : 'pages.group.groups.list.pending.yours'|trans }}</p>
					<ul id="groups-to-activate-elements">
						{% for groupToActivate in displayableGroupsToActivate %}
							<li>
								{% include 'contents/group/group--teaser.html.twig' with {'group':groupToActivate} %}
							</li>
						{% endfor %}
					</ul>
				</section>
			{% endif %}

			<section class="groups-list">
				{% if groupsToActivate is defined and displayableGroupsToActivate is not empty %}
					<p class="small-title">{{ 'pages.group.groups.list.all'|trans }}</p>
				{% endif %}
				<ul id="groups-elements">
					{% for group in groups %}
						<li>
							{% include 'contents/group/group--teaser.html.twig' with {'group':group} %}
						</li>
					{% endfor %}
				</ul>
			</section>
		</div>
	</section>
{% endblock %}
