{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.group.groups.title'|trans }} | {{ community.name }}{% endblock %}

{% block main %}
	<section class="main main__groups-index">
		<div class="main--header main--header__cover">
			<div class="main--header--image">
				<img src="{{ asset('media/layout/groups-hero.jpg') }}" alt="">
			</div>
			<div class="main--header--content content-container">
				{% include 'components/app-flashes.html.twig' %}

				<div class="narrow">
					<h1 class="small-title">Groupes</h1>

					<p class="h1">Trouvez les groupes de discussion qui vous intéressent</p>

					<p>
						<a class="cta__white" href="{{ path('homepage') }}">En savoir plus</a>
						{% if is_granted(constant('App\\Security\\GroupVoter::CREATE')) %}
							<a class="cta__white" href="{{ path('group_new') }}">Créer un groupe</a>
						{% endif %}
					</p>
				</div>
			</div>
		</div>
		<div class="main--content content-container">
			<section class="groups-list">
				<ul>
					{% for group in groups %}
						<li>
							{% include 'contents/group/group--teaser.html.twig' with {'group':group} %}
						</li>
					{% endfor %}
				</ul>
			</section>
		</div>
	</section>
{% endblock %}
