{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.group.group_create.title'|trans }} | {{ plateform.name }}{% endblock %}

{% block main %}
	<section class="main main__group-page main__group-page__edit">
		<div class="main--content content-container">
			<div class="thin">
				{% include 'components/app-flashes.html.twig' %}

				<section class="group-header">
					<h1 class="h1">{{ 'pages.group.group_create.title'|trans }}</h1>

					{% include 'components/breadcrumb.html.twig' with {'items':[
						{
							label: 'pages.group.groups.title'|trans,
							href: path('groups_index')
						},
						{
							label: 'pages.group.group_create.title'|trans
						}
					]} %}
				</section>

				<section class="group-creation-info">
					{% if group_creation_help.group_slug is not empty and group_creation_help.page_slug is not empty %}
						<p>
							{{ 'pages.group.group_create.help.creation_info'|trans }}
							<a href="{{ path('group_page_index', { 'groupSlug': group_creation_help.group_slug, 'pageSlug': group_creation_help.page_slug }) }}">{{ 'pages.group.group_create.help.creation_info_link'|trans }}</a>
						</p>
					{% endif %}
					<p>{{ 'pages.group.group_create.help.validation_info'|trans }}</p>
				</section>

				<section class="group-form">
					{% include 'forms/group/group-form.html.twig' with ({
						'group':group,
						'form':form,
						'form_submit':'pages.group.group_create.button',
						'delete':false
					}) %}
				</section>
			</div>
		</div>
	</section>
{% endblock %}
