{% extends 'base.html.twig' %}

{% block main %}
	<section class="main main__front-page">
		<div class="main--header">
			<div class="main--header--image">
				<img src="{{ asset('media/layout/front-hero.jpg') }}" alt="">
			</div>
			<div class="main--header--content content-container">
				{% include 'components/app-flashes.html.twig' %}

				<div class="narrow">
					<p class="small-title">Bienvenue sur NaturAdapt</p>

					<h1 class="h1">
						Adapter la protection de la nature aux défis du changement climatique en Europe.
					</h1>

					<p><a class="cta__white" href="{{ path('groups_index') }}">Voir les groupes</a></p>
				</div>
			</div>
		</div>
		<div class="main--content content-container">
			<section>
				<h2>Projet LIFE NaturAdapt</h2>

				<p>Le projet LIFE NaturAdapt vise à intégrer, en innovant sur la base des ressources existantes, les enjeux du changement climatique dans la gestion des espaces naturels protégés européens.<br>
					Prévu sur 5 ans (2018-2023), il est coordonné par Réserves Naturelles de France, en s’appuyant sur un processus d’apprentissage collectif dynamique avec neuf autres partenaires.
				</p>

				<p>Le projet LIFE prévoit l'élaboration de différents outils, qui seront expérimentés sur six sites réserves partenaires du projet, puis revus et testés sur 15 autres sites avant d’être déployés aux échelles nationale et européenne.<br />
				Il se situe autour de trois axes :<br />
				<ul>
					<li>L’élaboration d’outils et des méthodes opérationnels à destination des gestionnaires pour élaborer un diagnostic de vulnérabilité au changement climatique et un plan d’adaptation.</li>
					<li>Le développement et l’animation d’une communauté d’experts et de praticiens de l’adaptation dans les espaces naturels.</li>
					<li>L’activation de tous les leviers nécessaires pour la mise en œuvre concrète de l’adaptation.</li>
				</ul>
				</p>
				<p>L’adaptation de la gestion des espaces naturels face au changement climatique est l’affaire de tous les acteurs du domaine et dépasse le cadre de ce projet LIFE. NaturAdapt met en place dès maintenant une plateforme d’échange autour de ces sujets ouverte à tous. </p>
			</section>

			<section>
				<h2>Une plateforme communautaire</h2>

				<div class="front-page--columns columns__33-33-33">
					<div>
						<p><img src="{{ asset('media/layout/front-image1.jpg') }}" alt=""></p>
						<p>Pour rassembler et mettre en réseau tous les acteurs impliqués sur ces enjeux.</p>
					</div>
					<div>
						<p><img src="{{ asset('media/layout/front-image1.jpg') }}" alt=""></p>
						<p>Pour créer ensemble, partager et centraliser les ressources indispensables à ce sujet.</p>
					</div>
					<div>
						<p><img src="{{ asset('media/layout/front-image1.jpg') }}" alt=""></p>
						<p>Pour créer des communautés et projets collaboratifs territoriaux et thématiques spécifiques à l’adaptation.</p>
					</div>
				</div>
			</section>
			<section class="front-page--focus">
				<p>Découvrez les groupes de discussion mis en place dans le cadre du projet NaturAdapt</p>
				<a href="{{ path('groups_index') }}" class="cta">Découvrez les groupes</a>
			</section>
			<section class="front-page--objective">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252 252" width="252" height="252">
					<style>
						circle {
							stroke-linecap:   round;
							stroke-width:     24px;
							fill:             none;
							transform-origin: center center;
							transform:        rotate(90deg);
						}

						text {
							text-anchor: middle;
							font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
							font-weight: bold;
							font-size:   67px;
							fill:        #2FB67D;
						}
					</style>
					<circle stroke="white" cx="126" cy="126" r="113"></circle>
					<circle stroke="#2FB67D" stroke-dasharray="568 1000" cx="126" cy="126" r="113"></circle>
					<text x="126" y="146">80%</text>
				</svg>
				<div>
					<h2>Objectif</h2>
					<p>
						<strong>80% des gestionnaires de réserves naturelles ont adopté des modalités de gestion, planification et gouvernance adaptatives</strong> dans un contexte de changement climatique, et les autres principaux espaces naturels protégés s’engagent dans cette voie.
					</p>
				</div>
			</section>
			<section>
				<h2>Le projet NaturAdapt en chiffres&nbsp;:</h2>

				<ul>
					<li><strong>5 ans</strong> (2018-2023)</li>
					<li>
						<strong>4,2 M€</strong>, dont 2,5€ de la Commission européenne via le programme LIFE Climat, 500 000€ du Ministère de la transition écologique et solidaire et 500 000€ de l’Agence française pour la biodiversité.
					</li>
					<li>
						<strong>10 partenaires&nbsp;:</strong> Réserves Naturelles de France, EUROPARC, Muséum national d’Histoire naturelle, Tela Botanica, LPO, Asters - Conservatoire des espaces naturels de Haute-Savoie, Fédération des réserves naturelles catalanes, Syndicat mixte du Parc naturel régional du Morvan, Syndicat mixte du Parc naturel régional des Volcans d’Auvergne, Association Petite Camargue Alsacienne
					</li>
				</ul>
			</section>
		</div>
	</section>
{% endblock %}
