{% extends 'base.html.twig' %}

{% block main %}
	<section class="main main__front-page">
		<div class="main--header main--header__cover">
			<div class="main--header--image">
				<img src="{{ path('app_image', {'tab': 'home', 'image_type': 'front'}) }}" alt="">
			</div>
			<div class="main--header--content content-container">
				{% include 'components/app-flashes.html.twig' %}

				<div class="narrow">
					<p class="small-title">{{ adminText.sur_titre }}</p>

					<h1 class="h1">
						{{ adminText.texte_principal }}
					</h1>

					<p><a class="cta__white" href="{{ path('groups_index') }}">Voir les groupes</a></p>
				</div>
			</div>
		</div>
		<div class="main--content content-container">
			<section class="wysiwyg-content">
				{{ adminText.premier_texte | raw}}
			</section>
			<section class="front-page--focus">
				<p>{{ adminText.premier_clique_texte }}</p>
				<a href="{{ adminText.premier_clique_lien}}" class="cta">{{ adminText.premier_clique_bouton_texte }}</a>
			</section>
			<section class="wysiwyg-content">
				{{ adminText.second_texte | raw}}
			</section>
			<section class="front-page--focus">
				<p>{{ adminText.second_clique_texte }} </p>
				<a href="{{ adminText.second_clique_lien}}" class="cta">{{ adminText.second_clique_bouton_texte}}</a>
			</section>
			<section class="front-page--objective wysiwyg-content">
				{{ adminText.troisieme_texte | raw}}
			</section>
			<section>
			<p>En savoir plus sur le <a href="{{ path('group_page_index', { groupSlug: 'communaute', pageSlug: 'a-propos-du-projet-natur-adapt' }) }}">projet LIFE Natur’Adapt</a></p>
			<p>
			<img src="{{ asset('media/layout/logos_naturadapt_2021.png') }}" alt="partenaires du LIFE Natur'Adapt">
			</p>
			</section>
		</div>
	</section>
{% endblock %}
