{% extends 'base.html.twig' %}
{% block body_class %}frontpage{% endblock %}

{% block main %}
	<section class="main main__front-page">
		<div class="main--header main--header__cover">
			<div class="main--header--image">
				<img src="{{ asset('media/layout/front-hero.png') }}" alt="">
			</div>
			<div class="main--header--content content-container">
				{% include 'components/app-flashes.html.twig' %}

				<div class="narrow">
					<p class="small-title">Bienvenue dans la communauté citoyenne en faveur des pollinisateurs</p>

					<h1 class="h1">
						Participons ensemble à la préservation des
						pollinisateurs en passant concrètement à l'action
					</h1>

					<p><a class="cta cta-front" href="{{ path('groups_index') }}">Voir les groupes</a></p>
				</div>
			</div>
		</div>
		<section class="front-page--info">
			<div class="content-container">
				<div class="front-page--info-title">
					<h2>Intéressé⋅e par le merveilleux monde des pollinisateurs et leur préservation ?<br />Vous trouverez sur cette plateforme :</h2>
				</div>
				<div class="front-page--info-columns columns-25">
					<div class="front-page--info-card">
						<div class="front-page--info-icon-background yellow">
								{% include 'assets/svg/echange.svg' %}
						</div>
						<p class="front-page--info-icon-background-description">Des projets collaboratifs pour mettre vos envies et savoirs faires au profit d’actions concrètes.</p>
					</div>
					<div class="front-page--info-card">
						<div class="front-page--info-icon-background purple">
								{% include 'assets/svg/protection.svg' %}
						</div>
						<p class="front-page--info-icon-background-description">Des programmes de sciences participatives et d’autres moyens d’agir quelque soit votre niveau et votre milieu de vie.</p>
					</div>
					<div class="front-page--info-card">
						<div class="front-page--info-icon-background blue">
								{% include 'assets/svg/recherche.svg' %}
						</div>
						<p class="front-page--info-icon-background-description">D’autres passionnés ou curieux de nature touchés par le déclin des pollinisateurs et souhaitant agir pour leur préservation.</p>
					</div>
					<div class="front-page--info-card">
						<div class="front-page--info-icon-background green">
								{% include 'assets/svg/dossier.svg' %}
						</div>
						<p class="front-page--info-icon-background-description">Des ressources accessibles et scientifiquement validées pour mieux les connaître et reconnaître.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="front-page--how-it-works">
			<div class="content-container">
				<h2>Comment ça marche ?</h2>
				<p>
					Inscrivez-vous et rejoignez la communauté ! Dès que votre compte personnel est créé vous rejoignez l’espace central communautaire vous permettant d’échanger avec tous les inscrits !
				</p>
				<p>
					Vous avez envie de participer à la dynamique des projets existants et souhaitez apporter votre grain de pollen ? <a href="/groups">Trouvez des projets</a> qui vous correspondent !
				</p>
				<p>
					Vous avez envie de porter une action ? De créer par exemple un recensement des pépinières de végétaux locaux favorables à la biodiversité ?
				</p>
				<div class="front-page--how-it-works-cta">
					<h3>Et si vous aussi vous lanciez votre projet ?</h3>
					<a href="/groups" class="cta">Voir les groupes</a>
				</div>
			</div>
		</section>
		<section class="front-page--pollinating">
				<div class="front-page--columns columns__50-50" style="text-align: left">
					<img class="front-page--pollinating-image" src="{{ asset('/media/layout/BIOS-1905362.jpg') }}" alt="foraging bee">
				<div class="front-page--pollinating-description">
					<h2>C’est quoi un pollinisateur ?</h2>
					<p>Les pollinisateurs les plus emblématiques et les mieux connus du grand public sont les abeilles (dont l’abeille domestique, les bourdons…), les mouches (syrphes…), les papillons, et de nombreux coléoptères. Certains oiseaux (colibris) ou encore des mammifères (chauve-souris nectarivores) jouent également un rôle important de pollinisation durant tout ou partie de leur stade de vie adulte.</p>
					<p> La pollinisation est essentielle, sans cela la reproduction de nombreuses plantes sauvages et la production de plantes cultivées ne seraient pas possibles. Les pollinisateurs sont aussi et surtout les garants de la richesse des écosystèmes. Il est important de les préserver !</p>
					<h3>Le déclin</h3>
					<p>Depuis plusieurs années, les scientifiques internationaux constatent un déclin des populations de la plupart de ces insectes. En cause, les activités humaines dont l’agriculture intensive, les pesticides, l’artificialisation des sols mais également le changement climatique.</p>
					<h3>Le saviez-vous ?</h3>
					<p>Il y a 2 fois plus de coléoptères que de plantes en France ! Et pourtant il y a moins d’entomologistes que de botanistes.</p>
				</div>
		</section>
		<section class="front-page--banner">
			<div class="content-container">
				<h2>Je veux agir !</h2>
				<p>Un grand pouvoir ne nécessite pas forcément de grandes responsabilités ! Tout le monde peut agir à son échelle et en fonction de ses envies et de ses connaissances !</p>
				<p> Découvrez comment agir en fonction de votre milieu, vos envies, votre temps.</p>
				<a href="/user/login" class="cta">Rejoindre la plateforme !</a>
			</div>
		</section>
			<section class="front-page--about-us">
					<div class="front-page--columns columns__50-50" style="text-align: left">
						<div class="front-page--about-us-description">
							<h2>Qui sommes-nous ?</h2>
							<p>La plateforme Nos pollinisateurs est créée par des passionnés de plusieurs domaines :</p>
							<div class="front-page--about-us-description-block companions">
								<h3 style="color: #8F607C" class="front-page--about-us-description-title">Réalisé par :</h3>
								<img src="{{ asset('/media/layout/telabotanica.png') }}" alt="partenaires du Nos Pollinisateurs">
							</div>
							<div class="front-page--about-us-description-block sponsors">
								<h3 style="color: #06A243" class="front-page--about-us-description-title">En collaboration avec :</h3>
								<img src="{{ asset('/media/layout/collab.png') }}" alt="partenaires du Nos Pollinisateurs">
							</div>
							<div class="front-page--about-us-description-block partners">
								<h3 style="color: #92D4F2" class="front-page--about-us-description-title">Avec l’appui de :</h3>
								<img src="{{ asset('/media/layout/appui.png') }}" alt="partenaires du Nos Pollinisateurs">
							</div>
					</div>
					<img class="front-page--about-us-image" src="{{ asset('/media/layout/BIOS-2466801.jpg') }}" alt="blue butterfly">
			</section>
		</section>
	</section>
{% endblock %}
