{% set classes = ['document', 'document__teaser'] %}
<div class="{{ classes|join(' ') }}" data-type="{{ document.file.type|escape('html_attr') }}">
	<a class="document-infos" data-type="{{ document.file.type }}"
	   href="{{ path('group_document_get', {'groupSlug': document.usergroup.slug, 'documentId': document.id}) }}"
	   title="{{ document.title|escape('html_attr') }}"
	   target="_blank">

		<div class="document--icon">
			<span>{{ document.title }}</span>
		</div>

		<div class="document--title">
			<span>{{ document.title }}</span>
		</div>

		<div class="document--date">
			<span>{{ 'pages.document.view.date'|trans|format(document.createdAt|localizeddate('short', 'none', app.request.locale)) }}</span>
		</div>
	</a>

	{% if is_granted(constant('App\\Security\\GroupDocumentVoter::EDIT'), document) %}
		<div class="in-list-admin-panel">
			<ul>
				<li>
					<a href="{{ path('group_document_edit', {
						'groupSlug':group.slug,
						'documentId':document.id
					}) }}" title="{{ 'pages.document.document_edit.link'|trans|escape('html_attr') }}">
						<span>{{ 'pages.document.document_edit.link'|trans }}</span>
					</a>
				</li>
			</ul>
		</div>
	{% endif %}
</div>
