{% extends 'base.html.twig' %}

{% block title %}
	{% if group is defined %}
		{{ 'pages.group.members.title'|trans }} - {{ group.name }} | {{ platform.name }}
	{% else %}
		{{ 'pages.group.members.title'|trans }} | {{ platform.name }}
	{% endif %}
{% endblock %}

{% block main %}
	<section class="main main__members-list">
		<div class="main--content content-container">
			{% include 'components/app-flashes.html.twig' %}

			<h1 class="h1">{{ 'pages.member.list.title'|trans }}</h1>

			{% if group is defined %}
				{% include 'components/breadcrumb.html.twig' with {'items':[
					{
						label: 'pages.group.groups.title'|trans,
						href: path('groups_index')
					},
					{
						label: group.name,
						href: path('group_index', {'groupSlug':group.slug})
					},
					{
						label: 'pages.member.list.title'|trans
					}
				]} %}
			{% elseif community.group %}
				{% include 'components/breadcrumb.html.twig' with {'items':[
					{
						label: 'pages.group.groups.title'|trans,
						href: path('groups_index')
					},
					{
						label: community.group.name,
						href: path('group_index', {'groupSlug':community.group.slug})
					},
					{
						label: 'pages.member.list.title'|trans
					}
				]} %}
			{% else %}
				{% include 'components/breadcrumb.html.twig' with {'items':[
					{
						label: 'ui.home'|trans,
						href: path('homepage')
					},
					{
						label: 'pages.member.list.title'|trans
					}
				]} %}
			{% endif %}

			{{ form_start(form) }}
			<div class="columns__33-66 columns__no-stretch">
				<div class="filters">
					<div class="small-title">{{ 'pages.member.list.filters.title'|trans }}</div>
					<div class="form-row form-row__filter">
						{{ form_label(form.country, 'pages.member.list.filters.country.label') }}
						<div class="form-row__checkboxes">
							{{ form_widget(form.country) }}
						</div>
					</div>
					<div class="form-row form-row__filter">
						<div class="form-row__checkboxes">
							{{ form_widget(form.inscriptionType) }}
						</div>
					</div>
					<div class="form-row form-row__filter">
						<div class="form-row__checkboxes">
							{{ form_widget(form.favoriteEnvironment) }}
						</div>
					</div>
					<div class="form-row form-row__filter">
						{{ form_label(form.skills, 'pages.member.list.filters.skills.label') }}
						<div class="form-row__checkboxes checkboxes-autocomplete">
							{{ form_widget(form.skills) }}
						</div>
					</div>
					<div class="form-row form-row__submit">
						{{ form_widget(form.submit, {'label': 'pages.member.list.search'}) }}
					</div>
				</div>
				<div>
					<div class="form-row form-row__no-gap search">
						{{ form_widget(form.query, {'attr': {'placeholder': 'pages.member.list.query.placeholder'}}) }}
					</div>
					<ul class="members-list">
						{% for user in members %}
							<li>
								{% if group is defined %}
									{% include 'contents/user/user--in-members-list.html.twig' with {'user':user, 'admin':user_group_relation.isAdmin(user, group)} %}
								{% else %}
									{% include 'contents/user/user--in-members-list.html.twig' with {'user':user} %}
								{% endif %}
							</li>
						{% endfor %}
					</ul>
					{% include 'components/pager.html.twig' %}
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
