{% set isAdmin = user_group_relation.isAdmin(app.user, group) %}
<div class="group group__full" style="--color: {{ group.name|color }}">
	{% include 'contents/group/partials/group--full--header.html.twig' with {'group':group} %}

	<div class="group-infos content-container">
		<div class="group-description">
			{{ group.description }}
		</div>
		<div class="group-join">
			{% include 'components/group/group-join-button.html.twig' with {'group':group} %}
			{% include 'components/group/group-members--tiny.html.twig' with {'members':group.members} %}
		</div>
	</div>
	<div class="group-apps content-container">
		<div class="group-app group-app__pages">
			<h2>{{ 'pages.group.pages.title'|trans }}</h2>
			<ul class="items-list">
				{% for page in group.pages %}
					<li>
						{% include 'contents/page/page--teaser.html.twig' with {'page':page} %}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="group-app group-app__members">
			<h2>{{ 'pages.group.members.title'|trans }}</h2>
			<ul class="items-list">
				{% for member in group.members %}
					<li>
						{% include 'contents/user/user--teaser.html.twig' with {'user':member.user} %}
					</li>
				{% endfor %}
			</ul>
		</div>
		{% if isAdmin %}
			{% set members_pending = group.members('pending') %}
			{% if members_pending is not empty %}
				<div class="group-app group-app__members group-app__members-pending">
					<h2>{{ 'pages.group.members_pending.title'|trans }}</h2>
					<ul class="items-list">
						{% for member in members_pending %}
							<li>
								{% include 'contents/user/user--teaser.html.twig' with {'user':member.user} %}
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			{% set members_banned = group.members('banned') %}
			{% if members_banned is not empty %}
				<div class="group-app group-app__members group-app__members-banned">
					<h2>{{ 'pages.group.members_banned.title'|trans }}</h2>
					<ul class="items-list">
						{% for member in members_banned %}
							<li>
								{% include 'contents/user/user--teaser.html.twig' with {'user':member.user} %}
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endif %}
		{% if group.files is not empty %}
			<div class="group-app group-app__files">
				<h2>{{ 'pages.group.files.title'|trans }}</h2>
				<ul>
					{% for file in group.files %}
						<li>
							{% include 'contents/file/file--teaser.html.twig' with {'file':file} %}
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>
</div>
