{% set isAdmin = user_group_relation.isAdmin(app.user, group) %}
<div class="group group__full" style="--color: {{ group.name|color }}">
	{% include 'contents/group/partials/group--full--header.html.twig' with {'group':group} %}

	<div class="group-infos content-container">
		<div class="group-description">
			{{ group.description }}
		</div>
		<div class="group-join">
			{% include 'components/group/group-join-button.html.twig' with {'group':group} %}
			{% include 'components/group/group-members--tiny.html.twig' with {'members':group.members} %}
		</div>
	</div>
	<div class="group-apps content-container">
		<div class="group-app group-app__pages">
			<h2>
				<a href="{{ path('group_pages_index', {'groupSlug':group.slug}) }}">{{ 'pages.group.pages.title'|trans }}</a>
				<a href="{{ path('group_pages_index', {'groupSlug':group.slug}) }}">{{ 'ui.see_all'|trans }}</a>
			</h2>
			<ul class="items-list">
				{% for page in group.pages|slice(0, 5) %}
					<li>
						{% include 'contents/page/page--teaser.html.twig' with {'page':page} %}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="group-app group-app__members">
			<h2>
				<a href="{{ path('group_members_index', {'groupSlug':group.slug}) }}">{{ 'pages.group.members.title'|trans }}</a>
				<a href="{{ path('group_members_index', {'groupSlug':group.slug}) }}">{{ 'ui.see_all'|trans }}</a>
			</h2>
			<ul class="items-list">
				{% for member in group.members|slice(0, 5) %}
					<li>
						{% include 'contents/user/user--teaser.html.twig' with {'user':member.user} %}
					</li>
				{% endfor %}
			</ul>
		</div>
		{% if group.files is not empty %}
			<div class="group-app group-app__files">
				<h2>
					<a href="{{ path('group_files_index', {'groupSlug':group.slug}) }}">{{ 'pages.group.files.title'|trans }}</a>
					<a href="{{ path('group_files_index', {'groupSlug':group.slug}) }}">{{ 'ui.see_all'|trans }}</a>
				</h2>
				<ul>
					{% for file in group.files %}
						<li>
							{% include 'contents/file/file--teaser.html.twig' with {'file':file} %}
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>
</div>
