{{ form_start(form) }}
<div class="form-rows">
	<h2 class="h2">{{ 'forms.user_parameters.password_introduction.title'|trans }}</h2>

	<div class="form-row form-row__field">
		<div class="columns__50-50">
			{{ form_label(form.password, 'forms.user_parameters.password.label') }}
			<div class="forgotten-password-link">
				<a href="{{ path('user_forgotten_password') }}">{{ 'pages.user.forgotten_password.link'|trans }}</a>
			</div>
		</div>
		{{ form_widget(form.password, {'attr': {'placeholder': 'forms.user_parameters.password.placeholder'}}) }}
	</div>
	<div class="form-row form-row__field">
		{{ form_label(form.password_new, 'forms.user_parameters.password_new.label') }}
		{{ form_widget(form.password_new, {'attr': {'placeholder': 'forms.user_parameters.password_new.placeholder'}}) }}
	</div>
	<div class="form-row form-row__field">
		{{ form_label(form.password_confirm, 'forms.user_parameters.password_confirm.label') }}
		{{ form_widget(form.password_confirm, {'attr': {'placeholder': 'forms.user_parameters.password_confirm.placeholder'}}) }}
	</div>
</div>
<div class="form-row form-row__submit">
	{{ form_widget(form.submit, {'label': 'pages.user.parameters_edit.button'|trans}) }}
	<a href="{{ path('user_dashboard') }}">{{ 'pages.user.parameters_edit.cancel'|trans }}</a>
</div>
{{ form_end(form) }}
