<div class="group-join--action">
	{% if user_group_relation.isMember(app.user, group) %}
		{{ 'pages.group.is_member'|trans }}
	{% elseif user_group_relation.isBanned(app.user, group) %}
		{{ 'pages.group.is_banned'|trans }}
	{% elseif group.visibility == 'public' %}
		<a href="{{ path('group_member_new', {'groupSlug': group.slug}) }}">{{ 'pages.group.join_button.public'|trans }}</a>
	{% elseif group.visibility == 'private' %}
		{% if user_group_relation.isPending(app.user, group) %}
			{{ 'pages.group.is_pending'|trans }}
		{% else %}
			<a href="{{ path('group_member_new', {'groupSlug': group.slug}) }}">{{ 'pages.group.join_button.private'|trans }}</a>
		{% endif %}
	{% endif %}
</div>
