<div class="group-apps">
	<div class="group-app group-app__pages">
		<h2 class="h4">
			<a href="{{ path('group_pages_index', {'groupSlug':group.slug}) }}">{{ 'pages.group.pages.title'|trans }}</a>
			<span class="count">{{ group.pages|length }}</span>
		</h2>
		{% if group.pages is not empty %}
			<ul class="items-list">
				{% for page in group.pages|slice(0, 5) %}
					<li>
						{% include 'contents/page/page--teaser.html.twig' with {'page':page} %}
					</li>
				{% endfor %}
			</ul>
			<div class="see-all">
				<a href="{{ path('group_pages_index', {'groupSlug':group.slug}) }}">{{ 'ui.see_all'|trans }}</a>
			</div>
		{% endif %}
	</div>
	<div class="group-app group-app__files">
		<h2 class="h4">
			<a href="{{ path('group_documents_index', {'groupSlug':group.slug}) }}">{{ 'pages.group.files.title'|trans }}</a>
			<span class="count">{{ group.documents|length }}</span>
		</h2>
		{% if group.documents is not empty %}
			<ul>
				{% for file in group.documents %}
					<li>
						{% include 'contents/document/document--teaser.html.twig' with {'document':document} %}
					</li>
				{% endfor %}
			</ul>
			<div class="see-all">
				<a href="{{ path('group_documents_index', {'groupSlug':group.slug}) }}">{{ 'ui.see_all'|trans }}</a>
			</div>
		{% endif %}
	</div>
	<div class="group-app group-app__members">
		<h2 class="h4">
			<a href="{{ path('group_members_index', {'groupSlug':group.slug}) }}">{{ 'pages.group.members.title'|trans }}</a>
			<span class="count">{{ group.members|length }}</span>
		</h2>
		<ul class="items-list">
			{% for member in group.members|slice(0, 5) %}
				<li>
					{% include 'contents/user/user--teaser.html.twig' with {'user':member.user, 'admin':user_group_relation.isAdmin(member.user, group)} %}
				</li>
			{% endfor %}
		</ul>
		<div class="see-all">
			<a href="{{ path('group_members_index', {'groupSlug':group.slug}) }}">{{ 'ui.see_all'|trans }}</a>
		</div>
	</div>
</div>
