<div class="group-infos">
	{% if (group.logo is defined) and (group.logo is not empty) %}
		<div class="group-logo">
			<img src="{{ group.logo.path | imagine_filter('logo') }}" alt="">
		</div>
	{% endif %}

	<div>
		<p class="small-title">{{ 'pages.group.home'|trans }}</p>

		<h1 class="h1 group-name">{{ group.name }}</h1>

		<p class="group-status">
			<span class="group-visibility group-visibility__{{ group.visibility }}"><span>{{ ('pages.group.status.' ~ group.visibility)|trans }}</span></span>
			<span class="group-date">{{ 'pages.group.status.created_at'|trans|format(group.createdAt|localizeddate('long', 'none', app.request.locale)) }}</span>
		</p>

		{% if is_granted(constant('App\\Security\\GroupVoter::EDIT'), group) %}
			<a class="cta__inverted" href="{{ path('group_edit', {'groupSlug':group.slug}) }}">{{ 'pages.group.group_edit.link'|trans }}</a>
		{% endif %}
	</div>
</div>
