<div class="columns__33-66">
	<nav class="group-tabs">
		<ul>
			<li{% if (logEvents is not defined) or not logEvents %} class="active"{% endif %}>
				<a href="{{ path('group_index', {'groupSlug':group.slug}) }}">{{ 'pages.group.tabs.home'|trans }}</a>
			</li>
			<li {% if (logEvents is defined) and logEvents %} class="active"{% endif %}>
				<a href="{{ path('group_events_index', {'groupSlug':group.slug}) }}">{{ 'pages.group.tabs.events'|trans }}</a>
			</li>
		</ul>
	</nav>
	<div>
		<!-- Search -->
		<form action="{{ path('search_page') }}" method="post">
			<input class="group-search-bar" type="search" placeholder="Cherchez dans le groupe..." name="form[search_texts][query]">
			<input type="hidden" name="groupQuery" value="{{group.id}}" />
		</form>
	</div>
</div>
