<div class="group-join--action">
	{% if isMember %}
		{{ 'group.is_member'|trans }}
	{% elseif group.visibility == 'private' %}
		<a href="{{ path('group_member_new', {'groupSlug': group.slug}) }}">{{ 'group.join_button.private'|trans }}</a>
	{% else %}
		<a href="{{ path('group_member_new', {'groupSlug': group.slug}) }}">{{ 'group.join_button.public'|trans }}</a>
	{% endif %}
</div>
