{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.user.dashboard.link'|trans }} | {{ community.name }}{% endblock %}

{% block main %}
	<section class="main main__user-page main__user-page__dashboard">
		<div class="main--content content-container">
			{% include 'components/app-flashes.html.twig' %}
			<div class="small-title">{{ 'pages.user.dashboard.welcome'|trans }}</div>
			<div class="h2">{{ 'pages.user.dashboard.hello'|trans|format(app.user.displayName) }}</div>
			<div class="h3">{{ 'pages.user.dashboard.slogan'|trans }}</div>
			<div class="columns__33-66">
				<div>
					<div class="small-title">{{ 'pages.user.dashboard.my_groups'|trans }}</div>
					<ul>
						{% for membership in app.user.usergroupMemberships %}
							<li>
								{% include 'contents/group/group--in-items-list.html.twig' with {'group': membership.usergroup} %}
							</li>
						{% endfor %}
					</ul>
					<a href="{{ path('group_new') }}">{{ 'pages.group.group_create.link'|trans }}</a>
				</div>
				<div>

				</div>
			</div>
		</div>
	</section>
{% endblock %}
