{% extends 'base.html.twig' %}

{% block main %}
	{% set loginForm = render(controller( 'App\\Controller\\UserController::loginForm' )) %}
	<section class="main main__user-page main__user-page__login">
		<div class="main--content content-container">
			{% include 'components/app-flashes.html.twig' %}
			<div class="columns__50-50">
				<section class="login-form">
					<h1 class="h3">{{ 'pages.user.login.title'|trans }}</h1>

					<p class="hint">{{ 'pages.user.login.subtitle'|trans }}</p>

					{{ loginForm|raw }}
				</section>
				<section class="register-form">
					<h1 class="h3">{{ 'pages.user.register.title'|trans }}</h1>

					<p class="hint">{{ 'pages.user.register.subtitle'|trans }}</p>

					{% include 'components/user/register.html.twig' %}
				</section>
			</div>
		</div>
	</section>
{% endblock %}
