{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.user.profile_edit.title'|trans }} | {{ plateform.name }}{% endblock %}

{% block main %}
	<section class="main main__user-page main__user-page__profile">
		<div class="main--content content-container">
			<div class="thin">
				{% include 'components/app-flashes.html.twig' %}

				<section class="profile-header">
					<div class="panel">
						{% include 'contents/user/user--header.html.twig' with{'user':user} %}

						<div class="panel--edit">
							<a class="cta__inverted" href="{{ path('member', {'user_id':user.id}) }}">{{ 'pages.user.profile_edit.view'|trans }}</a>
						</div>
					</div>
				</section>

				<section class="profile-form">
					<h1 class="h2">{{ 'pages.user.profile_edit.title'|trans }}</h1>

					<p class="hint">{{ 'pages.user.profile_edit.introduction'|trans }}</p>

					{% include 'forms/user/profile-form.html.twig' with ({
						'form':form,
						'form_submit':'pages.user.profile_edit.button',
						'user':user
					}) %}
				</section>
			</div>
		</div>
	</section>
{% endblock %}
