{% extends 'emails/base.html.twig' %}

{% block title %}{{ message.discussion.title }}{% endblock %}

{% block preheader %}{% endblock %}

{% block body %}
	<h1>Bonjour {{ user.displayName }},</h1>

	{% block introduction %}
		<p>
			{{ message.author.displayName }} a démarré une discussion
			<a href="{{ absolute_url(path('group_discussion_index', {'groupSlug':message.discussion.usergroup.slug, 'discussionUuid':message.discussion.uuid})) }}">{{ message.discussion.title }}</a>
			dans le groupe
			<a href="{{ absolute_url(path('group_index', {'groupSlug':message.discussion.usergroup.slug})) }}">{{ message.discussion.usergroup.name }}</a>&nbsp;:
		</p>
	{% endblock %}

	<div class="p" style="margin: 1rem 0; padding: 1rem; border: 1px solid #999999;">
		{{ message.body|raw }}
	</div>

	<p>Retrouvez cette discussion en ligne : <a href="{{ absolute_url(path('group_discussion_index', {'groupSlug':message.discussion.usergroup.slug, 'discussionUuid':message.discussion.uuid})) }}">{{ message.discussion.title }}</a></p>

	<p class="sub">Vous pouvez gérer toutes vos préférences de notification par e-mail sur votre page "<a href="{{ absolute_url(path('user_groups')) }}">Mes groupes</a>"</p>

	{% include 'components/email-signature.html.twig' %}
{% endblock %}
