{{ form_start(form) }}
<div class="form-row__mandatory">{{ 'forms.mandatory'|trans }}</div>
<div class="form-rows">
	<div class="form-row form-row__field">
		{{ form_label(form.name, 'forms.group.name.label') }}
		{{ form_widget(form.name, {'attr': {'placeholder': 'forms.group.name.placeholder'}}) }}
	</div>
	<div class="form-row form-row__file form-row__file__logo">
		<div class="file-preview">
			<div class="file-preview--img">
				{% if (group is defined) and (group.logo is defined) and (group.logo is not empty) %}
					<img src="{{ group.logo.path | imagine_filter('logo') }}" alt="">
				{% endif %}
			</div>
			<div class="file-preview--content">
				{{ form_label(form.logofile, 'forms.group.logo.label') }}
				<div class="hint">{{ 'forms.group.logo.hint'|trans|format(form.logofile.vars.attr['data-max-size']) }}</div>
				{{ form_widget(form.logofile) }}
				{{ form_label(form.logofile, 'forms.group.logo.button', {'label_attr': {'class': 'submit-style submit-style__inverted'}}) }}
				<div class="form_errors">{{ form_errors(form.logofile) }}</div>
			</div>
		</div>
	</div>
	<div class="form-row form-row__file form-row__file__cover">
		<div class="file-preview">
			<div class="file-preview--img">
				{% if (group is defined) and (group.cover is defined) and (group.cover is not empty) %}
					<img src="{{ group.cover.path | imagine_filter('cover') }}" alt="">
				{% endif %}
			</div>
			<div class="file-preview--content">
				{{ form_label(form.coverfile, 'forms.group.cover.label') }}
				<div class="hint">{{ 'forms.group.cover.hint'|trans|format(form.coverfile.vars.attr['data-max-size']) }}</div>
				{{ form_widget(form.coverfile) }}
				{{ form_label(form.coverfile, 'forms.group.cover.button', {'label_attr': {'class': 'submit-style submit-style__inverted'}}) }}
				<div class="form_errors">{{ form_errors(form.coverfile) }}</div>
			</div>
		</div>
	</div>
	<div class="form-row form-row__field">
		{{ form_label(form.visibility, 'forms.group.visibility.label') }}
		<div class="form-row__radioboxes">
			{{ form_widget(form.visibility) }}
		</div>
	</div>
	<div class="form-row form-row__field">
		{{ form_label(form.description, 'forms.group.description.label') }}
		<div class="hint">{{ 'forms.group.description.hint'|trans }}</div>
		{{ form_widget(form.description, {'attr': {'placeholder': 'forms.group.description.placeholder'}}) }}
	</div>
	<div class="form-row form-row__field">
		{{ form_label(form.presentation, 'forms.group.presentation.label') }}
		<div class="hint">{{ 'forms.group.presentation.hint'|trans }}</div>
		{{ form_widget(form.presentation, {'attr': {'placeholder': 'forms.group.presentation.placeholder'}}) }}
	</div>
</div>
<div class="form-row form-row__submit">
	{{ form_widget(form.submit, {'label': form_submit}) }}
	{% if (delete is defined) and (delete) and is_granted(constant('App\\Security\\GroupVoter::DELETE'), group) %}
		<a class="cta__inverted" href="{{ path('group_delete', {'groupSlug':group.slug}) }}">{{ 'ui.delete'|trans }}</a>
	{% endif %}
</div>
{{ form_end(form) }}
