{{ form_start(form) }}
<div class="form-row__mandatory">{{ 'forms.mandatory'|trans }}</div>
<div class="form-rows">
	<div class="form-row form-row__file">
		{{ form_label(form.filefile, 'forms.document.file.label') }}
		<div class="hint">{{ 'forms.document.file.hint'|trans|format(form.filefile.vars.attr['data-max-size']) }}</div>
		{{ form_widget(form.filefile, { 'attr': {'data-prefill': '#document_title'} }) }}
		{{ form_label(form.filefile, 'forms.document.file.button', {'label_attr': {'class': 'submit-style submit-style__inverted'}}) }}
		<div class="form_errors">{{ form_errors(form.filefile) }}</div>
	</div>
	<div class="form-row form-row__field">
		{{ form_label(form.title, 'forms.document.title.label') }}
		{{ form_widget(form.title, {'attr': {'placeholder': 'forms.document.title.placeholder'}}) }}
	</div>
</div>
<div class="form-row form-row__submit">
	{{ form_widget(form.submit, {'label': form_submit}) }}
</div>
{{ form_end(form) }}
