<footer class="footer">
	<div class="content-container">
		<div class="footer--logo">
			<p class="plateform-logo"><img src="{{ asset('media/layout/logo-naturadapt__139x85.png') }}" alt="{{ plateform.name }}"
										   srcset="{{ asset('media/layout/logo-naturadapt__278x170.png') }} 2x"></p>
			<p class="project-sponsor-logo">
				Projet ayant bénéficié<br>
				du soutien financier du<br>
				programme LIFE.
			</p>
		</div>
		<div class="footer--menu">
			<ul>
				<li>
					<span>Menu</span>
					<ul>
						<li><a href="">À propos de la plateforme</a></li>
						<li><a href="{{ path('user_register') }}">{{ 'pages.user.register.link'|trans }}</a></li>
						<li><a href="{{ path('user_login') }}">{{ 'pages.user.login.link'|trans }}</a></li>
					</ul>
				</li>
				<li>
					<span>Liens utiles</span>
					<ul>
						<li><a href="">Retours d'expérience</a></li>
						<li><a href="">Formations</a></li>
						<li><a href="">Ressources</a></li>
					</ul>
				</li>
				<li>
					<span>Aide</span>
					<ul>
						<li><a href="">Tutoriels</a></li>
						<li><a href="">FAQ</a></li>
						<li><a href="">Signaler un problème</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</footer>
