<footer class="footer">
	<div class="content-container">
		<div class="footer--logo">
			<p class="plateform-logo">
				<img src="{{ asset('media/layout/logo-naturadapt__139x85.png') }}" alt="{{ community.name }}"
					 srcset="{{ asset('media/layout/logo-naturadapt__278x170.png') }} 2x">
			</p>
			<p class="project-sponsor-logo">
				<img src="{{ asset('media/layout/logo-life.svg') }}" alt="Life">
				<span>
					Projet ayant bénéficié<br>
					du soutien financier du<br>
					programme LIFE.
				</span>
			</p>
		</div>
		<div class="footer--menu">
			<ul>
				<li>
					<span>Menu</span>
					<ul>
						<li><a href="{{ path('homepage') }}">{{ 'ui.home'|trans }}</a></li>
						<li><a href="{{ path('user_login') }}">{{ 'pages.user.login.link'|trans }} / {{ 'pages.user.register.link'|trans }}</a></li>
					</ul>
				</li>
				<li>
					<span>Liens utiles</span>
					<ul>
						<li><a href="{{ path('group_page_index', { groupSlug: 'communaute', pageSlug: 'newsletter' }) }}">Newsletter</a></li>
						<li><a href="{{ path('groups_index') }}">Groupes</a></li>
						<li><a href="/members">Annuaire</a></li>
					</ul>
				</li>
				<li>
					<span>Aide</span>
					<ul>
						<li><a href="/groups/plateforme-web/pages/trucs-et-astuces">Trucs et astuces</a></li>
						<li><a href="/groups/plateforme-web/pages/regles">Règles</a></li>
						<li><a href="mailto:support@naturadapt.com">Signaler un problème</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</footer>
