<footer class="footer">
	<div class="content-container">
		<div class="footer--logo">
			<p class="plateform-logo">
				<img src="{{ asset('media/layout/naturadapt_logo_164x85.png') }}" alt="{{ plateform.name }}"
					 srcset="{{ asset('media/layout/naturadapt_logo_328x170.png') }} 2x">
			</p>
			<p class="project-sponsor-logo">
				<img src="{{ asset('media/layout/logo-life.svg') }}" alt="Life">
				<span>
					Projet ayant bénéficié<br>
					du soutien financier du<br>
					programme LIFE.
				</span>
			</p>
		</div>
		<div class="footer--menu">
			<ul>
				{% set appFooterFirstMenus = render(controller( 'App\\Controller\\AppController::appFooterMenus', {'position': 'first'} )) %}
				{% set appFooterSecondMenus = render(controller( 'App\\Controller\\AppController::appFooterMenus', {'position': 'second'} )) %}
				{% set appFooterThirdMenus = render(controller( 'App\\Controller\\AppController::appFooterMenus', {'position': 'third'} )) %}

				{{ appFooterFirstMenus|raw }}
				{{ appFooterSecondMenus|raw }}
				{{ appFooterThirdMenus|raw }}

			</ul>
		</div>
	</div>
</footer>
