<header class="main-header">
	<div class="main-header--logo">
		{% if is_granted('ROLE_USER') %}
			<a href="{{ path('user_dashboard') }}">{{ plateform.name }}</a>
		{% else %}
			<a href="{{ path('homepage') }}">{{ plateform.name }}</a>
		{% endif %}
	</div>
	<div class="main-header--pages">
		<ul>
			<li><a href="">À propos du projet</a></li>
			<li><a href="{{ path('groups_index') }}">Groupes</a></li>
			<li><a href="">Ressources</a></li>
		</ul>
	</div>
	<div class="main-header--user">
		{% if is_granted('ROLE_USER') %}
			<div class="main-header--user-menu">
				<a href="{{ path('user_dashboard') }}">{% include 'contents/user/user--tiny.html.twig' with {'user':app.user} %}</a>
				<div class="links">
					<ul>
						<li><a href="{{ path('user_profile_edit') }}">{{ 'pages.user.profile_edit.link'|trans }}</a></li>
						<li><a href="{{ path('user_logout') }}">{{ 'pages.user.logout.link'|trans }}</a></li>
					</ul>
				</div>
			</div>
		{% else %}
			<a class="connexion" href="{{ path('user_login') }}">{{ 'pages.user.login.link'|trans }}</a>
		{% endif %}
	</div>
</header>
