<ul>

    <li><a href="{{ path('user_dashboard') }}">{{ 'pages.user.dashboard.link'|trans }}</a></li>
    <li><a href="{{ path('member', {'user_id':app.user.id}) }}">{{ 'pages.user.profile.link'|trans }}</a></li>
    <li><a href="{{ path('user_parameters_edit') }}">{{ 'pages.user.parameters_edit.link'|trans }}</a></li>
    <li><a href="{{ path('user_groups') }}">{{ 'pages.user.my_groups.link'|trans }}</a></li>
    {% if is_granted(constant('App\\Security\\GroupVoter::ADMIN'), communauteGroup) %}
        <li><a href="{{ path('administration_platform') }}">{{ 'pages.user.administration_edit.link'|trans }}</a></li>
    {% endif %}
    <li><a href="{{ path('user_logout') }}">{{ 'pages.user.logout.link'|trans }}</a></li>
</ul>
