<header class="main-header">
	<div class="main-header--logo">
		<a href="{{ path('homepage') }}">{{ plateform.name }}</a>
	</div>
	<div class="main-header--links">
		<div class="main-header--pages">
			<ul>
				<li><a href="{{ path('groups_index') }}">Groupes</a></li>
				<li><a href="">À propos de la plateforme</a></li>
			</ul>
		</div>
		<div class="main-header--user">
			{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<a class="connexion" href="{{ path('user_login') }}">{{ 'security.login.link'|trans }}</a>
			{% else %}
				<a href="{{ path('user_logout') }}">{{ 'security.logout.link'|trans }}</a>
			{% endif %}
		</div>
	</div>
</header>
