<header class="header">
	<div class="header--logo">
		{% if is_granted('ROLE_USER') %}
			{% set link = path('user_dashboard') %}
		{% else %}
			{% set link = path('homepage') %}
		{% endif %}
		<a href="{{ link }}">
			<img src="{{ asset('media/layout/logo-naturadapt__98x60.png') }}" alt="{{ community.name }}"
				 srcset="{{ asset('media/layout/logo-naturadapt__196x120.png') }} 2x">
		</a>
	</div>
	<div class="header--pages">
		<input type="checkbox" id="menu-trigger">
		<label for="menu-trigger">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="13" viewBox="0 0 17 13">
				<use xlink:href="#menu"/>
			</svg>
			<span>{{ 'ui.menu'|trans }}</span>
		</label>
		<ul>
			<li><a href="{{ path('homepage') }}">À propos du projet</a></li>
			<li><a href="{{ path('groups_index') }}">Groupes</a></li>
			<li><a href="">Ressources</a></li>
		</ul>
	</div>
	<div class="header--user">
		{% if is_granted('ROLE_USER') %}
			<div class="header--user-menu">
				<a href="{{ path('user_dashboard') }}">{% include 'contents/user/user--tiny.html.twig' with {'user':app.user} %}</a>
				<div class="links">
					<ul>
						<li><a href="{{ path('user_profile_edit') }}">{{ 'pages.user.profile_edit.link'|trans }}</a></li>
						<li><a href="{{ path('user_logout') }}">{{ 'pages.user.logout.link'|trans }}</a></li>
					</ul>
				</div>
			</div>
		{% else %}
			<a class="cta connexion" href="{{ path('user_login') }}">{{ 'pages.user.login.link'|trans }}</a>
		{% endif %}
	</div>
</header>
