<header class="header">
	<div class="header--logo">
		{% if is_granted('ROLE_USER') %}
			{% set link = path('group_index', { 'groupSlug': 'communaute' }) %}
		{% else %}
			{% set link = path('homepage') %}
		{% endif %}
		<a href="{{ link }}">
			<img src="{{ asset('media/layout/pollinisateurs_logo_1500x837.png') }}" alt="{{ platform.name }}">
		</a>
	</div>
	<div class="header--pages">
		<button class="toggle-button" type="button" data-toggle-element="sibling" data-toggle-attribute="aria-expanded">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="13" viewBox="0 0 17 13">
				<use xlink:href="#menu"/>
			</svg>
			<span>{{ 'ui.menu'|trans }}</span>
		</button>
		<ul aria-expanded="false">
			<li><a href="{{ path('homepage') }}">À propos du projet</a></li>
			<li><a href="{{ path('groups_index') }}">Groupes</a></li>
			{% if resources.group_slug is not empty and resources.page_slug is not empty %}
				<li><a href="{{ path('group_page_index', { 'groupSlug': resources.group_slug, 'pageSlug': resources.page_slug }) }}">Ressources</a></li>
			{% endif %}
			{#<li><a href="{{ path('articles') }}">Actualités</a></li>
			<li><a href="{{ path('members') }}">Annuaire</a></li>
			<li class="toggle-search-link"><a href="{{ path('search_page') }}">Rechercher</a></li>#}
		</ul>
	</div>
	<div class="header--search">
		{% if is_granted(constant('App\\Security\\UserVoter::LOGGED')) %}
			{% if app.request.get('_route') != 'search_page' %}
				<form action="{{ path('search_page' )}}">
					{# Le nom de l'input correspond à l'URL de la recherche #}
					<input id="search-bar-input" type="text" placeholder="Rechercher" name="form[search_texts][query]">
				</form>
			{% endif %}
		{% endif %}
	</div>
	<div class="header--user">
		{% if is_granted(constant('App\\Security\\UserVoter::LOGGED')) %}
			<div class="header--user-menu">
				<button class="toggle-button" type="button" data-toggle-element="sibling">{% include 'contents/user/user--tiny.html.twig' with {'user':app.user} %}</button>
				<div class="links" aria-hidden="true">
					<ul>
						<li><a href="{{ path('user_dashboard') }}">{{ 'pages.user.dashboard.link'|trans }}</a></li>
						<li><a href="{{ path('member', {'user_id':app.user.id}) }}">{{ 'pages.user.profile.link'|trans }}</a></li>
						<li><a href="{{ path('user_parameters_edit') }}">{{ 'pages.user.parameters_edit.link'|trans }}</a></li>
						<li><a href="{{ path('user_groups') }}">{{ 'pages.user.my_groups.link'|trans }}</a></li>
						<li><a href="{{ path('user_logout') }}">{{ 'pages.user.logout.link'|trans }}</a></li>
					</ul>
				</div>
			</div>
		{% else %}
			<a class="cta connexion" href="{{ path('user_login') }}">{{ 'pages.user.login.link'|trans }}</a>
		{% endif %}
	</div>
</header>
